package com.yyjj.service.bo;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import org.springframework.beans.BeanUtils;
import com.yyjj.db.model.${model};

import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class ${model}BO implements IBaseBO<${model}>{
	
	@Override
	public void accpet(QueryWrapper<${model}> queryWrapper) {
		
	}
	
	public  ${model} convert() {
  		 ${model}  ${lowerModel} = new  ${model}();
  	  BeanUtils.copyProperties(this,  ${lowerModel});
  	  return  ${lowerModel};
  	}
}
    